node_modules
.env

# Hardhat files
/hardhat/cache
/hardhat/artifacts
/hardhat/ignition/deployments/

# TypeChain files
/hardhat/typechain
/hardhat/typechain-types

# solidity-coverage files
/hardhat/coverage
/hardhat/coverage.json
